body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Reem Kufi', 'Times New Roman', Times, serif;
  background: #000000;
  color: white;
}

.intro {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: url('/images/landing.jpeg') no-repeat center center/cover;
  overflow: hidden;
  animation: fadeInBackground 1s ease-in-out;
}

header {
  position: absolute;
  top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.left-logo {
  margin-right: auto;
}

.logo-right {
  display: flex;
  gap: 5px;
  direction: rtl;
  margin-left: auto;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.icon {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.logo-right .icon {
  width: 100px;
  height: auto;
  margin-right: 0;
}

.icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.7));
}

.intro-content {
  position: relative;
  text-align: center;
  z-index: 10;
  animation: fadeInContent 2s ease-in-out;
}

.animated-title {
  font-size: 4em;
  margin-bottom: 0.5em;
  animation: fadeInText 2s ease-in-out;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
  transform: scale(1.05);
}

.animated-title:hover {
  transition: color 0.3s, text-shadow 0.3s, transform 0.3s;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #FFA500, 0 0 15px #FF8C00, 0 0 20px #FF4500, 0 0 25px #ffffff;
}

.animated-subtitle {
  font-size: 1.5em;
  margin-bottom: 1em; /* Space between subtitle and button */
  animation: fadeInText 3s ease-in-out;
  transition: color 0.3s, text-shadow 0.3s, transform 0.3s;
}

.animated-subtitle:hover {
  color: #FFA500;
  text-shadow: 0 0 px #ffffff, 0 0 20px #FFA500, 0 0 17px #FF4500;
  transform: scale(1.05);
}

.start-button {
  padding: 1em;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  color: white;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  animation: buttonPopIn 2s ease-out;
  text-decoration: none;
}

.start-button svg {
  stroke: white;
  transition: transform 0.3s;
}

.start-button:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonPopIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  opacity: 0.2;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url('/images/particles.png') repeat;
  opacity: 0.2;
  background-size: 20px 20px;
  filter: blur(2px);
}

/* Media Queries for smaller devices */
@media (max-width: 768px) {
  .icon {
    width: 100px; /* Adjust logo sizes */
  }

  .logo-right .icon {
    width: 100px; /* Adjust secondary logo sizes */
  }

  .animated-title {
    font-size: 2em; /* Adjust title size */
  }

  .animated-subtitle {
    font-size: 1em; /* Adjust subtitle size */
  }

  .start-button {
    padding: 0.5em;
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .icon {
    width: 80px; /* Further adjust logo sizes */
  }

  .logo-right .icon {
    width: 80px; /* Further adjust secondary logo sizes */
  }

  .animated-title {
    font-size: 1.5em; /* Further adjust title size */
  }

  .animated-subtitle {
    font-size: 0.9em; /* Further adjust subtitle size */
  }

  .start-button {
    padding: 0.4em;
    font-size: 0.7em;
  }
}

